[submodule "IIC2233/syllabus"]
	path = IIC2233/syllabus
	url = git@github.com:IIC2233/syllabus.git
	branch = main
[submodule "IIC2233/contenidos"]
	path = IIC2233/contenidos
	url = git@github.com:IIC2233/contenidos.git
	branch = main
[submodule "IIC2213/Syllabus-2021-1-"]
	path = IIC2213/Syllabus-2021-1-
	url = git@github.com:IIC2213/Syllabus-2021-1-.git
	branch = main
[submodule "IIC3253/2021"]
	path = IIC3253/2021
	url = git@github.com:UC-IIC3253/2021.git
	branch = main
[submodule "IIC2513/syllabus"]
	path = IIC2513/syllabus
	url = git@github.com:IIC2513-2021-1/syllabus-1.git
	branch = main
[submodule "IIC2513/projects"]
	path = IIC2513/projects
	url = git@github.com:IIC2513-2021-1/projects.git
	branch = main
[submodule "IIC2613/Syllabus"]
	path = IIC2613/Syllabus
	url = git@github.com:UC-IIC2613/Syllabus.git
	branch = main
[submodule "IIC2513/interrogation"]
	path = IIC2513/interrogation
	url = git@github.com:IIC2513-2021-1/interrogation.git
	branch = main
